# validator configuration
validator:
  # vanity name for this validator - used for logging, metrics and shared config
  name: "pengu-local"
  # defaults to http://localhost:8899 - the url to the local validator's RPC endpoint used to monitor health and other local metrics
  rpc_url: http://localhost:8899
  # public IP service_urls - see code for defaults
  # useful for testing to set to something else
  public_ip_service_urls: []
  # paths to the active and passive identity keypairs
  identities:
    active: "./local-test-files/active-identity.json"
    passive: "./local-test-files/passive-identity.json"

# solana cluster configuration
cluster:
  # options: mainnet-beta, devnet, testnet
  name: "mainnet-beta"
  # empty array uses the default for cluster.name, supplying more than one URL will create a client for each URL and cluster RPC calls will be attempted in the order they are supplied, returning the first successful response - safeguards against RPC provider glitches
  rpc_urls: []

# prometheus metrics configuration
prometheus:
  port: 9099
  static_labels:
    brand: "pengu"
    cluster: "mainnet-beta"
    region: "local"

# failover decision parameters
failover:
  # if set to true failovers should not happen but just log the commands that would be run by active and passive commands and hooks
  dry_run: true

  # how often to poll the Solana network - defaults to 5s
  poll_interval_duration: "5s"

  # when to consider the cluster to be leaderless (i.e. no active peer for this duration) - defaults to 15s
  leaderless_threshold_duration: "15s"

  # how long to wait after deciding to become an active leader and running a final check to ensure no other peer has done so. A random delay of up to 2s is added to this duration
  takeover_delay_duration: "5s"

  # peers is a n object with each key being a vanity validator name and the validator public IP
  # the validator this program runs on will automatically be added to the list of peers by its public IP
  peers:
    pengu-ashburn:
      ip: 177.54.159.7
    pengu-chicago:
      ip: 67.213.119.47

  # all actvie and passive commands and args, including hooks, support the following golang template strings:
  # {{ .Identities.Active.KeyPairFile }}  -> validator.identities.active.keypair_file (resolved absolute path)
  # {{ .Identities.Passive.KeyPairFile }} -> validator.identities.passive.keypair_file (resolved absolute path)
  # {{ .Identities.Active.Pubkey }}       -> public key of the active identity
  # {{ .Identities.Passive.Pubkey }}      -> public key of the passive identity

  # pre hooks support must_succeed (default false) which if set to true will cause the active or passive command to not be run if the hook fails
  # hook names are used for logging and metrics and are converted to snake_case automatically - don't make them too long :)
  # hooks execute in the order that they are defined

  active:
    # active_command is the command to run when the validator is to assume the active role after the failover conditions are met
    command: "/home/solana/scripts/ensure-validator-role.sh"
    args: [
      "--role", "active",
      "--active-identity-keypair-file", "{{ .ActiveIdentityKeypairFile }}",
      "--passive-identity-keypair-file", "{{ .PassiveIdentityKeypairFile }}",
    ]
    hooks:
      pre:
        - name: "pre-active hook" # optional name to reference the hook by in the logs and metrics
          command: "/home/solana/scripts/some-hook.sh"
          must_succeed: true
          args: []
        # ...
      post:
        - name: "post-active hook"
          command: "/home/solana/scripts/some-hook.sh"
          args: []
        # ...
  # passive_command is the command to run when the validator is to assume the passive role after the failover conditions are met
  passive:
    # active_command is the command to run when the validator is to assume the active role after the failover conditions are met
    command: "/home/solana/scripts/ensure-validator-role.sh" # golang template string that accepts filling in {{ .ActiveIdentityKeypairFile }} and {{ .ActiveIdentityPubkey }} if required
    args: [
      "--role", "passive",
      "--active-identity-keypair-file", "{{ .ActiveIdentityKeypairFile }}",
      "--passive-identity-keypair-file", "{{ .PassiveIdentityKeypairFile }}",
    ]
    hooks:
      pre:
        - name: "pre-passive hook" # optional name to reference the hook by in the logs and metrics
          command: "/home/solana/scripts/some-hook.sh"
          must_succeed: true
          args: []
        # ...
      post:
        - name: "post-passive hook"
          command: "/home/solana/scripts/some-hook.sh"
          args: []
          # ...
